.desktop {
    background-color: #1fb94a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #1fb94a;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.desktop .overlap {
    position: absolute;
    width: 1440px;
    height: 724px;
    top: 300px;
    left: 0;
    background-color: #0b852d;
}

.desktop .overlap-group {
    position: absolute;
    width: 414px;
    height: 698px;
    top: 26px;
    left: 14px;
    background-color: #1fb94a;
}

.desktop .div-wrapper {
    position: absolute;
    width: 308px;
    height: 190px;
    top: 43px;
    left: 53px;
    background-color: #686262;
}

.desktop .text-wrapper {
    position: absolute;
    width: 252px;
    top: 74px;
    left: 28px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.72px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .group {
    position: absolute;
    width: 326px;
    height: 333px;
    top: 274px;
    left: 43px;
}

.desktop .overlap-2 {
    position: absolute;
    width: 310px;
    height: 50px;
    top: 0;
    left: 8px;
    background-color: #0b852d;
}

.desktop .text-wrapper-2 {
    position: absolute;
    width: 304px;
    top: 13px;
    left: 0;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.42px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-3 {
    position: absolute;
    width: 310px;
    height: 151px;
    top: 56px;
    left: 6px;
    background-color: #0b852d;
}

.desktop .text-wrapper-3 {
    position: absolute;
    width: 304px;
    top: 52px;
    left: 2px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.42px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-4 {
    position: absolute;
    width: 310px;
    height: 50px;
    top: 213px;
    left: 6px;
    background-color: #0b852d;
}

.desktop .text-wrapper-4 {
    position: absolute;
    width: 304px;
    top: 13px;
    left: 4px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.42px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-5 {
    position: absolute;
    width: 314px;
    height: 64px;
    top: 269px;
    left: 0;
}

.desktop .rectangle {
    position: absolute;
    width: 310px;
    height: 64px;
    top: 0;
    left: 4px;
    background-color: #0b852d;
    border-radius: 22px;
}

.desktop .add-to-cart {
    position: absolute;
    width: 312px;
    top: 20px;
    left: 0;
    font-family: "Fondamento-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.42px;
    line-height: normal;
}

.desktop .overlap-6 {
    position: absolute;
    width: 414px;
    height: 698px;
    top: 26px;
    left: 475px;
    background-color: #1fb94a;
}

.desktop .overlap-7 {
    position: absolute;
    width: 310px;
    height: 50px;
    top: 487px;
    left: 51px;
    background-color: #0b852d;
}

.desktop .text-wrapper-5 {
    position: absolute;
    width: 304px;
    top: 12px;
    left: 4px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.42px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-8 {
    position: absolute;
    width: 314px;
    height: 64px;
    top: 543px;
    left: 45px;
}

.desktop .add-to-cart-2 {
    position: absolute;
    width: 312px;
    top: 19px;
    left: 0;
    font-family: "Fondamento-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.42px;
    line-height: normal;
}

.desktop .overlap-9 {
    position: absolute;
    width: 308px;
    height: 190px;
    top: 39px;
    left: 53px;
    background-color: #686262;
}

.desktop .text-wrapper-6 {
    position: absolute;
    width: 252px;
    top: 74px;
    left: 26px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.72px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-10 {
    position: absolute;
    width: 310px;
    height: 50px;
    top: 274px;
    left: 53px;
    background-color: #0b852d;
}

.desktop .text-wrapper-7 {
    top: 12px;
    left: 0;
    position: absolute;
    width: 304px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.42px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-11 {
    position: absolute;
    width: 310px;
    height: 151px;
    top: 330px;
    left: 51px;
    background-color: #0b852d;
}

.desktop .text-wrapper-8 {
    top: 51px;
    left: 2px;
    position: absolute;
    width: 304px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.42px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .overlap-12 {
    position: absolute;
    width: 414px;
    height: 698px;
    top: 26px;
    left: 962px;
    background-color: #1fb94a;
}

.desktop .scroll-bar {
    position: absolute;
    width: 15px;
    height: 698px;
    top: 26px;
    left: 1396px;
    overflow: hidden;
}

.desktop .rectangle-wrapper {
    position: relative;
    width: 8px;
    height: 910px;
    top: 3px;
    left: 3px;
    background-color: #d9d9d9;
    border-radius: 100px;
}

.desktop .rectangle-2 {
    position: relative;
    width: 6px;
    height: 100px;
    top: 1px;
    left: 1px;
    background-color: #1c1a5e;
    border-radius: 100px;
}

.desktop .overlap-13 {
    position: absolute;
    width: 1440px;
    height: 86px;
    top: 0;
    left: 0;
    background-color: #49985f;
}

.desktop .text-wrapper-9 {
    position: absolute;
    width: 332px;
    height: 48px;
    top: 18px;
    left: 631px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .basket-fill {
    position: absolute;
    width: 88px;
    height: 80px;
    top: 128px;
    left: 1352px;
}

.desktop .vector {
    position: absolute;
    width: 2px;
    height: 9px;
    top: 9px;
    left: 43px;
}

.desktop .subtract {
    position: absolute;
    width: 73px;
    height: 40px;
    top: 27px;
    left: 7px;
}

.desktop .text-wrapper-10 {
    position: absolute;
    width: 1096px;
    top: 137px;
    left: 172px;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    text-align: center;
    letter-spacing: 1.28px;
    line-height: normal;
}
